/* Стили для карты */
#map {
    width: 1000px;
    height: 500px;
    margin: 20px auto;
    border: 5px solid #d3c4a1;
    border-radius: 15px;
}

/* Заголовок карты */
main h2 {
    font-size: 28px; /* Немного уменьшаем шрифт для заголовка карты */
    color: #5f5a3f;
    text-align: center; /* Центрируем текст заголовка */
}

/* Адаптация для планшетов */
@media (max-width: 768px) {
    #map {
        width: 100%; /* Карта занимает всю ширину экрана */
        height: 300px; /* Уменьшаем высоту карты */
        border-width: 4px; /* Уменьшаем толщину границы */
    }

    main h2 {
        font-size: 24px; /* Уменьшаем шрифт заголовка */
    }
}

/* Адаптация для телефонов */
@media (max-width: 480px) {
    #map {
        height: 250px; /* Еще меньше высота карты для телефонов */
        border-width: 3px; /* Еще меньше граница */
    }

    main h2 {
        font-size: 20px; /* Уменьшаем шрифт для компактного отображения */
    }
}
